<h1 class="text-center mt-4">Edit Shop Profile</h1><br>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <%= form_for @shop, url: admin_shop_path(@shop), method: :patch do |f| %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control', required: true %>
        </div>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control', required: true %>
        </div>
        <div class="form-group">
          <%= f.label :location %>
          <%= f.text_field :location, class: 'form-control', required: true %>
        </div>
        <div class="form-group">
          <%= f.label :contact_info %>
          <%= f.text_field :contact_info, class: 'form-control', required: true %>
        </div>
        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control', required: true %>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, class: 'form-control', required: true %>
        </div><br>
        <%= f.submit "Update Shop", class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
