<div class="container">
  <h2>Cart Summary</h2>
  <% if @cart %>
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">Product Name</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
          <th scope="col">Subtotal</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <% @cart.cart_items.each do |cart_item| %>
          <tr>
            <td scope="row"><%= cart_item.product.product_title %></td>
            <td scope="row"><%= cart_item.quantity %></td>
            <td scope="row"><%= cart_item.product.price %></td>
            <td scope="row"><%= cart_item.total_price %></td>
          </tr>
        <% end %>
        <tfoot>
          <tr>
            <td colspan="3">Total:</td>
            <td><%= number_to_currency(@cart.total_price, unit: "₹") %></td>
          </tr>
        </tfoot>
      </tbody>
    </table>
  <% else %>
    <p>Your cart is currently empty.</p>
  <% end %>
<h1 class="text-center mt-4">CHECKOUT</h1><br>
    

  <%= form_with model: @order, url: create_order_path do |f| %>
    <%= render 'shared/errors', obj: @order %>
    <%= f.label :shipping_name %>
    <%= f.text_field :shipping_name, class: "form-control" %>

    <%= f.label :shipping_address %>
    <%= f.text_field :shipping_address, class: "form-control" %>

    <%= f.label :shipping_city %>
    <%= f.text_field :shipping_city, class: "form-control" %>

    <%= f.label :shipping_state %>
    <%= f.text_field :shipping_state, class: "form-control" %>

    <%= f.label :shipping_zipcode %>
    <%= f.text_field :shipping_zipcode, class: "form-control" %>

    <%= f.label :payment_method %>
    <%= f.select :payment_method, ["Credit Card", "PayPal", "Cash on Delivery"], {}, class: "form-control" %>

    <%= f.submit "Place Order", class: "btn btn-success mt-3" %>
  <% end %>
</div>
