<h1 class="text-center mt-4">New Shop</h1><br>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <%= form_with(model: @shop, url: create_shop_path, local: true) do |form| %>
        <% if @shop.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@shop.errors.count, "error") %> prohibited this shop from being saved:</h2>

            <ul>
            <% @shop.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group row form-label">
          <div class= "col-2 col-form-label text-dark">
            <%= form.label :name %>
        </div>
          <div class="col-10">
            <%= form.text_field :name,class: "form-control shadow rounded" %>
          </div>
        </div>

        <div class="form-group row form-label">
          <div class= "col-2 col-form-label text-dark">
            <%= form.label :email %>
          </div>
          <div class="col-10">
            <%= form.email_field :email,class: "form-control shadow rounded" %>
          </div>
        </div>

        <div class="form-group row form-label">
          <div class= "col-2 col-form-label text-dark">
            <%= form.label :location %>
          </div>
          <div class="col-10">
            <%= form.text_field :location,class: "form-control shadow rounded" %>
          </div>
        </div>

        <div class="form-group row form-label">
          <div class= "col-2 col-form-label text-dark">
            <%= form.label :contact_info %>
          </div>
          <div class="col-10">
            <%= form.text_field :contact_info,class: "form-control shadow rounded" %>
          </div>
        </div>

        <div class="form-group row form-label">
          <div class= "col-2 col-form-label text-dark">
            <%= form.label :password %>
          </div>
          <div class="col-10">
          <%= form.password_field :password,class: "form-control shadow rounded" %>
          </div>
        </div>

        <div class="form-group row form-label">
          <div class= "col-2 col-form-label text-dark">
            <%= form.label :password_confirmation %>
          </div>
          <div class="col-10">
            <%= form.password_field :password_confirmation,class: "form-control shadow rounded" %>
          </div>
        </div>

        <div class="form-group row justify-content-center form-label">
          <%= form.submit "Register Shop",class: "btn btn-dark btn-lg width" %>
        </div>
      <% end %>
      </div>
  </div>
</div>