<h1>New Sales Report</h1>

<%= form_with(model: @sales_report, url: admin_create_sales_report_path) do |f| %>
  <% if @sales_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sales_report.errors.count, "error") %> prohibited this sales report from being saved:</h2>

      <ul>
      <% @sales_report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %>
    <%= f.date_field :date %>
  </div>

  <div class="field">
    <%= f.label :time %>
    <%= f.time_field :time %>
  </div>

  <div class="field">
    <%= f.label :amount %>
    <%= f.text_field :amount %>
  </div>

  <div class="field">
    <%= f.label :product_name %>
    <%= f.text_field :product_name %>
  </div>

  <div class="field">
    <%= f.label :category %>
    <%= f.text_field :category %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>