<h1 class="text-center mt-4">Edit Accounting Record</h1><br>
<div class="container">
  <div class="row justify-content-center text-center">
    <div class="col-10">
      <%= form_for([:admin, @accounting_record], url: admin_accounting_path(@accounting_record), method: :patch) do |f| %>

        <% if @accounting_record.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@accounting_record.errors.count, "error") %> prohibited this accounting record from being saved:</h2>
            <ul>
              <% @accounting_record.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group row form-label">
          <%= f.label :source, class: "col-2 col-form-label text-dark text-right" %>
          <% used_order_ids = Accounting.pluck(:order_id) %>
          <% used_sales_report_ids = Accounting.pluck(:sales_report_id) %>
          <div class="col-10">
            <%= f.select :source, options_for_select([['Select Source', nil], ['Shop Sale', 'Shop Sale'], ['Online Sale', 'Online Sale']].reject { |option| used_order_ids.include?(option[1].to_i) || used_sales_report_ids.include?(option[1].to_i) }), class: "form-control shadow rounded" %>
          </div>
        </div>
        <br>

        <div class="form-group row form-label">
          <%= f.label :online_sale, "Order ID", class: "col-2 col-form-label text-dark text-right" %>
          <div class="col-10">
            <%= f.select :order_id, options_for_select([['Select Order', nil]] + @orders.reject { |order| used_order_ids.include?(order.id) }.map { |order| [order.id, order.id] }), class: "form-control shadow rounded", selected: @accounting_record.order_id %>
          </div>
        </div>
        <br>

        <div class="form-group row form-label">
          <%= f.label :shop_sale, "Sales Report ID", class: "col-2 col-form-label text-dark text-right" %>
          <div class="col-10">
            <%= f.select :sales_report_id, options_for_select([['Select Sales Report', nil]] + @sales_reports.reject { |report| used_sales_report_ids.include?(report.id) }.map { |report| [report.id, report.id] }), class: "form-control shadow rounded", selected: @accounting_record.sales_report_id %>
          </div>
        </div>  
        <br>

        <div class="form-group row justify-content-center form-label">
          <%= f.submit "Update Accounting Record", class: "btn btn-dark btn-lg width" %>
        </div>
        
      <% end %>
    </div>
  </div>
</div>
