<div class="container">
  <h1 class="text-center mt-4">Accounting Records</h1>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Mode of sales</th>
        <th>Order ID</th>
        <th>Sales Report ID</th>
        <th>Amount</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <% @accounting_records.each do |accounting_record| %>
      <tr>
        <td><%= accounting_record.source %></td>
        <td><%= accounting_record.order&.id.presence || 'N/A' %></td>
        <td><%= accounting_record.sales_report&.id.presence || 'N/A' %></td>
        <td><%= accounting_record.amount %></td>
        <td><%= accounting_record.created_at.strftime("%Y-%m-%d") %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <div class="text-center">
    <h4>Total Sales Amount: <%= @accounting_records.sum(:amount) %></h4>
    <h4>Sales Count: <%= @accounting_records.count %></h4>
  </div>
</div>
