<div class="container"><br>
  <h1>All Orders</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">User</th>
        <th scope="col">Total Amount</th>
        <th scope="col">Status</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <% @orders.each do |order| %>
        <tr>
          <td scope="row"><%= order.id %></td>
          <td scope="row"><%= order.user.email %></td>
          <td scope="row"><%= number_to_currency(order.total_price, unit: "₹") %></td>
          <td scope="row"><%= order.status %></td>
          <td scope="row">
            <%= link_to "View", admin_order_path(order), class: "btn btn-primary " %>
            <%= link_to "Edit Order Status", edit_admin_order_path(order), class: "btn btn-primary " %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>