<h1>All Orders</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>User</th>
      <th>Total Amount</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.user.email %></td>
        <td><%= number_to_currency(order.total_price, unit: "₹") %></td>
        <td><%= order.status %></td>
        <td>
          <%= link_to "View", admin_order_path(order) %>
          <%= link_to "Edit", edit_admin_order_path(order) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
