<div class="container"><br>
    <h1 class="text-center mt-4">Order Confirmation</h1><br>
    <p>Your order has been received.</p>
    <ul>
    <li>Order ID: <%= @order.id %></li>
    <li>Total: <%= number_to_currency(@order.price,unit: "₹") %></li>
    </ul><br>
    <div class="card position-relative">
    <div class="card-body">
        <h5 class="card-title"><strong>Order Details</strong></h5>
        <p class="card-text"><strong>Shipping Name: </strong><%= @order.shipping_name %></p>
        <p class="card-text"><strong>Shipping Address: </strong><%= @order.shipping_address %></p>
        <p class="card-text"><strong>Shipping City: </strong><%= @order.shipping_city %></p>
        <p class="card-text"><strong>Shipping State: </strong><%= @order.shipping_state %></p>
        <p class="card-text"><strong>Shipping Zipcode: </strong><%= @order.shipping_zipcode %></p>
        <p class="card-text"><strong>Payment Method: </strong><%= @order.payment_method %></p>

    </div>
    </div>
    <h5>Order Items</h5>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Product Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price per item</th>
            <th scope="col">Total Price</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
            <% @order.order_items.each do |item| %>
            <tr>
            <td scope="row"><%= item.product.product_title %></td>
            <td scope="row"><%= item.quantity %></td>
            <td scope="row"><%= number_to_currency(item.product.price, unit: "₹") %></td>
            <td scope="row"><%= number_to_currency(item.total_price, unit: "₹") %></td>
            </tr>
        <% end %>
        </tbody>
    </table>
      <p><strong>Total Amount:</strong> <%= number_to_currency(@order.total_price, unit: "₹") %></p>
        <p><strong>Status:</strong> <%= @order.status %></p>
</div>
