<h1>Order <%= @order.id %></h1>

<p>Shipping name: <%= @order.shipping_name %></p>
<p>Shipping address: <%= @order.shipping_address %></p>
<p>Shipping city: <%= @order.shipping_city %></p>
<p>Shipping state: <%= @order.shipping_state %></p>
<p>Shipping zipcode: <%= @order.shipping_zipcode %></p>
<p>Payment method: <%= @order.payment_method %></p>
