<div class="container"><br>
  <h1 class="text-center mt-4">Sales Accounting</h1><br>
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
            <th scope="col">Order ID</th>
            <th scope="col">Order Product Price</th>
            <th scope="col">Order Quantity</th>
            <th scope="col">Sales ID</th>
            <th scope="col">Total Price</th>
            <th scope="col">Category ID</th>
            <th scope="col">Shop ID</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <% @accounting_records.each do |accounting| %>
            <tr>
                <td scope="row"><%= accounting.order.id %></td>
                <td scope="row"><%= accounting.order.price %></td>
                <td scope="row"><%= accounting.order.quantity %></td>
                <td scope="row"><%= accounting.sales_report.id %></td>
                <td scope="row"><%= accounting.sales_report.price %></td>
                <td scope="row"><%= accounting.sales_report.quantity %></td>
                <td scope="row"><%= accounting.sales_report.total_price %></td>
                <td scope="row"><%= accounting.sales_report.shop_id %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>
