<h1 class="text-center mt-4">YOUR CART</h1><br>
<div class="container">
  <% @cart.cart_items.each do |item| %>
    <div class="card position-relative">
      <div class="card-body">
        <h5 class="card-title"><%= item.product.product_title %></h5>
        <p class="card-text">Quantity: <%= item.quantity %></p>
        <p class="card-text">Price per item: <%= number_to_currency(item.product.price, unit: "₹") %></p>
        <p class="card-text">Total price: <%= number_to_currency(item.total_price, unit: "₹") %></p>
      </div>
      <div class="card-footer text-muted">
        <%= link_to "Remove", remove_item_path(item.product), method: :put, class: "btn btn-danger" %>
      </div>
    </div><br>
  <% end %>
  <div class="card position-relative">
    <div class="card-body">
      <h5 class="card-title">Cart Total: <%= number_to_currency(@cart.total_price, unit: "₹") %></h5>
    </div>
    <div class="card-footer text-muted">
      <%= link_to "Clear Cart", clear_cart_path, method: :delete, data: { confirm: "Are you sure you want to clear your cart?" }, class: "btn btn-danger" %>
      <%= link_to "Continue Shopping", products_path, class: "btn btn-primary" %>
      <%= link_to "Checkout", new_order_path, class: "btn btn-success" %>
    </div>
  </div>
</div>
