<h1 class="text-center mt-4">Order History</h1>
<br>
<div class="container">
  <% if @orders.any? %>
    <% @orders.each do |order| %>
      <div class="card position-relative">
        <div class="card-body">
          <h5 class="card-title">Order #<%= order.id %></h5>
          <p class="card-text"><strong>Order Date: </strong><%= order.created_at %></p>
          <p class="card-text"><strong>Total: </strong><%= number_to_currency(order.price, unit: "₹") %></p>
          <p class="card-text"><strong>Status:</strong> <%= order.status %></p>
        </div>
        <div class="card-footer text-muted">
          <%= link_to 'View Order', order_path(order), class: "btn btn-primary" %>
        </div>
      </div><br>
    <% end %>
  <% else %>
    <p>No orders found.</p>
  <% end %>
</div>
<br><br>

