<h1 class="text-center mt-4">Order History</h1>
<br>
<div class="container">
  <% if @orders.any? %>
    <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Order #</th>
        <th scope="col">Order Date</th>
        <th scope="col">Total Amount</th>
        <th scope="col">Status</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td scope="row"><%= order.id %></td>
          <td scope="row"><%= order.created_at %></td>
          <td scope="row"><%= number_to_currency(order.price, unit: "₹") %></td>
          <td scope="row"><%= order.status %></td>
          <td scope="row">
            <%= link_to "View", order_path(order), class: "btn btn-primary" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table> 
  <% else %>
    <p>No orders found.</p>
  <% end %>
</div>
<br><br>

