<div class="container">
  <div class="row justify-content-center">
    <div class="col-10"><br>
      <%= render 'shared/errors', obj: @product %>
      <%= form_with(model: @product, class: "shadow p-3 mb-3 bg-info rounded", local: true) do |f| %>
        <div class="form-group row form-label">
          <div class= "col-2 col-form-label text-light">
            <%= f.label :product_title %>
          </div>
          <div class="col-10">
            <%= f.text_field :product_title, class: "form-control shadow rounded", placeholder: "Title of product",required: true %>
          </div>
        </div>
        <div class="form-group row form-label">
          <div class= "col-2 col-form-label text-light">
            <%= f.label :description %>
          </div>
          <div class="col-10">
            <%= f.text_area :description, rows:10, class: "form-control shadow rounded",placeholder: "Description of a product",required: true %>
          </div>
        </div>
        <div class="form-group row form-label">
          <div class= "col-2 col-form-label text-light">
            <%= f.label :weight %>
          </div>
          <div class="col-5">
            <%= f.number_field :weight, class: "form-control shadow rounded", placeholder: "Weight",required: true %>
          </div>
          <div class="col-5">
            <%= f.select :weight_unit, options_for_select(["gm", "kg", "ltr", "ml"]), class: "form-control shadow rounded",required: true %>
          </div>
        </div>

        <div class="form-group row form-label">
          <div class= "col-2 col-form-label text-light">
            <%= f.label :Quantity %>
          </div>
          <div class="col-10">
            <%= f.number_field :quantity, class: "form-control shadow rounded", placeholder: "Quantity",required: true %>
          </div>
        </div>

        <div class="form-group row form-label">
          <div class= "col-2 col-form-label text-light">
            <%= f.label :price %>
          </div>
          <div class="col-10">
            <%= f.number_field :price, class: "form-control shadow rounded", placeholder: "Price", step: "any",required: true %>
          </div>
        </div>

        <div class="form-group row form-label">
          <div class= "col-2 col-form-label text-light">
            <%= f.label :sku_id %>
        </div>
          <div class="col-10">
            <%= f.number_field :sku_id, class: "form-control shadow rounded", placeholder: "Enter SKU ID",required: true %>
          </div>
        </div>

        <div class="form-group row form-label">
        <div class= "col-2 col-form-label text-light">
          <%= f.label :category_id %>
        </div>
        <div class="col-10">
          <%= f.collection_select(:category_ids, Category.all, :id, :name,
            { prompt: "Make your selection from the list below (can be empty)" },
            { multiple: true, size: 3, class: "custom-select shadow rounded" }) %>
        </div>
      </div>

      <div class="form-group row form-label">
        <div class= "col-2 col-form-label text-light">
          <%= f.label :image %>
        </div>
        <div class="col-10">
          <% if @product.image.attached? %>
            <%= image_tag url_for(@product.image), class: "img-thumbnail" %>
          <% end %>
          <%= f.file_field :image, class: "form-control shadow rounded" %>
        </div>
      </div>
    
        <div class="form-group row justify-content-center form-label">
          <%= f.submit class: "btn btn-outline-dark btn-lg", style: "width: 200px;" %>
        </div>
        <div class="form-group row justify-content-center form-label">
          <%= link_to 'Cancel and return to products listing',products_path, class:"btn btn-outline-dark btn-lg", style: "width: 500px;" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
