<!DOCTYPE html>
<html>
  <head>
    <title>TasteBuds</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script type="module" src="/assets/application.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
    <script src="/assets/turbolinks.self-569ee74eaa15c1e2019317ff770b8769b1ec033a0f572a485f64c82ddc8f989e.js?body=1" data-turbolinks-suppress-warning></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'custom' %>
    <script type="text/javascript" src="/assets/tinymce.js"></script>
    <script src="https://cdn.tiny.cloud/1/no-api-key" referrerpolicy="origin"></script>
    <%=render 'layouts/navigation' %>
    <%= stylesheet_link_tag 'bootstrap_custom', 'xyz', 'styled_button' %>
  </head>

  <body class="d-flex flex-column">    
        <div id="page-content" >    
          <%=render 'layouts/messages' %>    
          <%= yield %>    
        </div>    
        <%= render 'layouts/footer' %> 
        <%= javascript_include_tag 'jquery3', 'popper.js/dist/umd/popper.min.js', 'bootstrap', 'application' %>
  </body>
</html>
